{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/url/of/previous/page">Back</a>

      <h1 class="heading-large">Heading or question goes here
      </h1>

      <form class="form" action="/fly-tip/" method="post">

        <p>[Insert question content here]</p>
        
        <div class="form-group">
          <label class="form-label" for="road-name">
            Road name  
            <span class="form-hint">
              Look for a street name plate.
            </span>
          </label>
          <input class="form-control" id="road-name" type="text" name="road-name">
        </div>
        
        <p>Road name: {{ data['road-name'] }}</p>

        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>

      </form>

    </div>
  </div>
</main>

{% endblock %}
