{% extends "layout.html" %}

{% block page_title %}
  What best describes the location of the problem?
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/">Back</a>

      <h1 class="heading-large">Where is the problem?
      </h1>

      <form class="form" action="/fly-tip/" method="post">
        
 <div class="form-group">
    <fieldset>

      <legend class="visually-hidden">What best describes the location of the problem?</legend>

      <div class="multiple-choice">
        <input id="radio-veolia" type="radio" name="radio-group-location" value="Veolia">
        <label for="radio-veolia">On or near a public road, on the verge</label>
      </div>
      <div class="multiple-choice">
        <input id="radio-idverde" type="radio" name="radio-group-location" value="idVerde">
        <label for="radio-idverde">In a park</label>
      </div>
      <p class="form-block">or</p>
      <div class="multiple-choice">
        <input id="radio-other" type="radio" name="radio-group-location" value="other">
        <label for="radio-other">Somewhere else</label>
      </div>

    </fieldset>
  </div>

        <p>Road name: {{ data['road-name'] }}</p>

        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>

      </form>

    </div>
  </div>
</main>

{% endblock %}
