{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <script>
        document.write('<a class="link-back" href="' + document.referrer + '">Go Back</a>');
      </script>

      <h1 class="heading-large">Give us your details</h1>
 
      <p>We'll use these to provide updates etc.  How do we sell collecting this?</p>

      <form action="?">
        First name: <input type="text" name="FirstName"><br>
        Last name: <input type="text" name="LastName"><br>
        Email: <input type="email" name="Email"><br>
        Contact phone number: <input type="text" name="PhoneNumber"><br>
        <input type="submit" value="Submit">
      </form>      

    </div>
  </div>
</main>

{% endblock %}



