{% extends "layout.html" %}

{% block page_title %}
  Tell us more so we can take the right action
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/dirty-location/get-location">Back</a>

      <h1 class="heading-large">Tell us more so we can take the right action</h1>

      <p>The following list is based on the Street Below Grade event on p38 of SLWP Deployment Project Specification v0.5</p>

      <form class="form" action="/dirty-location/veolia-details" method="post">
        
        <div class="form-group">

          <fieldset>

            <legend class="visually-hidden">Tell us more so we can take the right action</legend>

            <div class="multiple-choice">
              <input id="radio-litter" type="radio" name="radio-group-category" value="litter">
                <label for="radio-litter">General litter problem</label>
            </div>

            <div class="multiple-choice">
              <input id="radio-leaves" type="radio" name="radio-group-category" value="leaves">
                <label for="radio-leaves">Leaves need clearing</label>
            </div>

            <div class="multiple-choice">
              <input id="radio-weeds" type="radio" name="radio-group-category" value="weeds">
                <label for="radio-weeds">Overgrown with weeds</label>
            </div>

            <p class="form-block">or</p>

            <div class="multiple-choice">
              <input id="radio-sweeping" type="radio" name="radio-group-category" value="sweeping">
                <label for="radio-sweeping">The road needs sweeping</label>
            </div>

          </fieldset>

        </div>

        <div class="form-group">
          <label class="form-label" for="description">
            Tell us anything else you think will help
          </label>
          <textarea class="form-control form-control-3-4" name="description" id="description" rows="5"></textarea>
        </div>

        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>

      </form>

    </div>
  </div>
</main>

{% endblock %}
