{% extends "layout.html" %}

{% block page_title %}
  London Borough of Sutton SLWP Prototypes
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        London Borough of Sutton SLWP Prototypes
        <span class="heading-secondary">Based on the GOV.UK prototype kit {{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}
      <p>
        This kit lets you rapidly create HTML prototypes of GOV.UK services.
      </p>

      <p>
        It contains all you need to prototype anything from simple static pages to complex, data-driven transactions.
      </p>

			<h2 class="heading-medium">SLWP transactions</h2>

      <p><a href="/dirty-location/">Request cleaning of a dirty place</a></p>
      <p><a href="/fly-tip/">Request removal of a fly-tip or illegally dumped waste</a></p>
      <p><a href="/dog-mess/">Request removal of dog mess</a></p>
      <p><a href="/syringes/">Request removal of drug equipment or biological waste</a></p>
      <p><a href="/dead-animal/">Request removal of a dead animal</a></p>

      
			<h2 class="heading-medium">Examples and documentation</h2>

			<ul class="list list-bullet">
				<li><a href="https://govuk-prototype-kit.herokuapp.com/docs/tutorials-and-examples">Example pages and documentation</a></li>
			</ul>

      <h2 class="heading-medium">Other resources</h2>

			<ul class="list list-bullet">
				<li>
					<a href="https://govuk-elements.herokuapp.com/snippets/">
						Guide to GOV.UK Elements
					</a>
				</li>
				<li>
					<a href="https://www.gov.uk/service-manual">
						Service design manual
					</a>
				</li>
			</ul>

    </div>
  </div>
</main>

{% endblock %}


