{% extends "govuk_template.html" %}

{% set global_header_text = 'London Borough of Sutton' %}
{% set homepage_url = '/' %}
{% set crown_copyright_message = '' %}

{% block head %}
  {% include "includes/head.html" %}
{% endblock %}

{% block cookie_message %}
  <p>{{cookieText | safe }}</p>
{% endblock %}

{% block proposition_header %}

  <div class="header-proposition">
    <div class="content">
      <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
      <nav id="proposition-menu">
        <a href="/" id="proposition-name">
          {# Set serviceName in config.js. Use a block to override on a page. #}
          {% block service_name %}
            {% if serviceName %} {{ serviceName }} {% endif %}
          {% endblock %}
        </a>
        <!--
        <ul id="proposition-links">
          <li><a href="url-to-page-1" class="active">Navigation item #1</a></li>
          <li><a href="url-to-page-2">Navigation item #2</a></li>
        </ul>
        -->
      </nav>
    </div>
  </div>

{% endblock %}

{% block header_class %}
  with-proposition lbs
{% endblock %}

{% block footer_support_links %}
  <img src="https://www.sutton.gov.uk/site/styles/css_img/logo-footer.png" class="logo" alt="Sutton Council logo">
  <div class="footer-admin">
  	<p>&copy; 2016 Sutton Council, Civic Offices, St. Nicholas Way, Sutton SM1 1EA | <a href="https://www.sutton.gov.uk/info/200232/contact_us" title="Contact us">Contact us</a></p>
  	<p>
  		<a href="https://www.sutton.gov.uk/privacy" title="Privacy statement">Privacy statement</a> | 
      <a href="https://www.sutton.gov.uk/terms" title="Terms and disclaimer">Terms and disclaimer</a> | 
      <a href="https://www.sutton.gov.uk/site_map" title="Site map">Site map</a>  | 
  		<a href="https://www.sutton.gov.uk/accessibility" title="Accessibility">Accessibility</a>
  	</p>
  </div>
  {% if useAutoStoreData %}
    <ul>
      <li>
        <a href="/prototype-admin/clear-data">Clear data</a>
      </li>
    </ul>
  {% endif %}
{% endblock %}

{% block body_end %}
  {% block scripts %}
    {% include "includes/scripts.html" %}
    {% block page_scripts %}{% endblock %}
  {% endblock %}
  <!-- GOV.UK Prototype kit {{releaseVersion}} -->
{% endblock %}
